<app-top-navbar></app-top-navbar>

<mat-sidenav-container class="content">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-idea-category-menu></app-idea-category-menu>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div (click)="sidenav.toggle()" 
        style="position: fixed; 
              top: 80px; 
              font-size: 24px;
              color: rgb(184, 184, 184);
              cursor: pointer;">
      <i class="fas fa-bars"></i>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




<!-- <footer>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
</footer> -->