<nav>
    <div class="d-flex mb-4">
        <input #queryInput id="query" type="text" class="form-control"
        name="query" 
        placeholder="Search"
        (keyup.enter)="doSearch(queryInput.value)">
        <button (click)="doSearch(queryInput.value)" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
        <div (click)="handleClear()" class="clear-btn">
            <i class="fa fa-times"></i>
        </div>
    </div>
    
    <div class="d-flex flex-column">
        <hr>
        <p><strong>Idea or Problem:</strong></p>
        <div class="d-flex justify-content-between">
            <label class="cb">
                <input type="checkbox"/>
                IDEA
            </label>
            <label class="cb">
                <input type="checkbox"/>
                PROBLEM
            </label>
        </div>
        <hr>
        <p><strong>Categories:</strong></p>
        <!-- <ul class="list-unstyled navbar-list filter-categories">
            <li *ngFor="let tempIdeaCategory of ideaCategories" class="mt-1">
                {{ tempIdeaCategory.name }}
            </li>
        </ul> -->
        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <div class="filter-categories mt-1">
              <label *ngFor="let tempIdeaCategory of ideaCategories; let i = index">
                  <input type="checkbox" [value]="tempIdeaCategory.value" (change)="onCheckboxChange($event)"/>
                  {{ tempIdeaCategory.name }}
              </label>
            </div>
            <input type="submit" value="Filter" class="btn btn-outline-dark btn-sm my-3">
        </form>

    </div>
    <!-- <button class="btn btn-outline-dark btn-sm my-3">Filter</button> -->
</nav>

