
.filter-categories {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;

}

#query {
    font-size: small;
}

.hide-button {
    position: fixed;
    top: 80px;
    color: lightgray;
    font-size: 22px;
    opacity: 1;
}

.hide-button i {
    cursor: pointer;
}

.hide {
    display: none;
}

.clear-btn {
    color: lightgrey;
    position: absolute;
    left: 190px;
}

.clear-btn i {
    top: 7px;
}