
.filter-categories {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;

}

#query {
    font-size: small;
}

.hide-button {
    position: fixed;
    top: 80px;
    color: lightgray;
    font-size: 22px;
    opacity: 1;
}

.hide-button i {
    cursor: pointer;
}

.inactive {
    position: absolute;
    left: -100%;
    transition: all 0s ease-in-out;
}

.arrow-inactive {
    left: 10px !important;
}

.hide {
    display: none;
}