<nav class="filter-sidebar">
    <div class="d-flex mb-4">
        <input id="query" type="text" class="form-control"
        name="query" placeholder="Search">
        <button type="submit" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
    </div>
    
    <div class="d-flex flex-column">
        <hr>
        <p><strong>Idea or Problem:</strong></p>
        <div class="d-flex justify-content-between">
            <label class="cb">
                IDEA
            </label>
            <label class="cb">
                PROBLEM
            </label>
        </div>
        <hr>
        <p><strong>Categories:</strong></p>
        <ul class="list-unstyled navbar-list filter-categories">
            <li *ngFor="let tempIdeaCategory of ideaCategories" class="mt-1">
                {{ tempIdeaCategory.name }}
                <!-- <a routerLink="/categories/{{tempIdeaCategory.id}}/ideas">{{ tempIdeaCategory.name }}</a> -->
            </li>
        </ul>
    </div>
</nav>

