<nav>
    <div class="d-flex mb-4">
        <input #queryInput id="query" type="text" class="form-control"
        name="query" 
        placeholder="Search"
        (keyup.enter)="doSearch(queryInput.value)">
        <button (click)="doSearch(queryInput.value)" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
        <div (click)="handleClear()" class="clear-btn">
            <i class="fa fa-times"></i>
        </div>
    </div>
    
    <div class="d-flex flex-column">
        <hr>
        <p><strong>Idea or Problem:</strong></p>
        <div class="d-flex justify-content-between">
            <label class="cb">
                <input type="checkbox" [value]="true"/>
                IDEA
            </label>
            <label class="cb">
                <input type="checkbox"[value]="false"/>
                PROBLEM
            </label>
        </div>
        <hr>
        <p><strong>Categories:</strong></p>
        
        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <div class="filter-categories mt-1">
              <label *ngFor="let tempIdeaCategory of ideaCategories; let i = index">
                  <input #checkbox type="checkbox" [value]="tempIdeaCategory.id" (change)="onCheckboxChange($event)"/>
                  {{ tempIdeaCategory.name }}
              </label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-3">
                <input type="submit" value="Filter" class="btn btn-outline-dark btn-sm my-3">
                <!-- <label style="cursor: pointer;">
                    <input type="checkbox" (change)="uncheckAll()" style="display: none;">clear filter
                </label> -->
                <p (click)="uncheckAll()" class="m-0" style="cursor: pointer;">clear filter</p>
            </div>
        </form>

    </div>
</nav>

