<div class="content">
    <div class="container">
        <div class="card-details-body">
            <div class="symbols">
                <div class="edit-delete">
                    <a (click)="onOpenModal(idea, 'edit')" class="tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                        <i class="fas fa-pen">
                            <span id="tooltip-text">edit</span>
                        </i>
                    </a>
                    <!-- <a (click)="onOpenModal(idea, 'delete')" class="tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"> -->
                    <a (click)="onDeleteIdea(idea.id, idea.title)">
                        <i class="far fa-trash-alt">
                            <span id="tooltip-text">delete</span>
                        </i>
                    </a>
                </div>
                <i *ngIf="idea?.isOpen" class="fas fa-lock" style="opacity: 0"></i>
                <i *ngIf="!idea?.isOpen" class="fas fa-lock"></i>
            </div>
            <h5>Title:</h5>
            <p><strong>{{idea.title}}</strong></p>
            <div class="categories">
                <ng-container *ngFor="let tempCat of idea.categories; let i = index">
                    <a *ngIf="i == idea.categories.length - 1, else withPipe"
                        routerLink="/categories/{{tempCat.id}}/ideas">
                        {{ tempCat.name }}
                    </a>
                    <ng-template #withPipe>
                        <a routerLink="/categories/{{tempCat.id}}/ideas">{{ tempCat.name }}</a>
                        <p>&nbsp;|&nbsp;</p>
                    </ng-template>
                </ng-container>
            </div>
            <h5>Description:</h5>
            <ng-container *ngIf="idea?.isOpen">
                <p class="text-justify">{{idea.description}}</p>
                <h5>Attachments:</h5>
                <div class="add-attachments" style="font-size: small;">

                </div>
                <div class="attachments">
                    <p>Picture.png | </p>
                    <p>Text.txt | </p>
                    <p>Pdf-Doc.pdf | </p>
                    <p>Audio.mp3</p>
                </div>
            </ng-container>
            <p *ngIf="!idea?.isOpen"><strong>Please contact the owner for more information!</strong></p>
            <div class="info">
                <p>Owner: Name</p>
                <p>Contact the owner</p>
                <p>Date Created: {{idea.dateCreated | date: 'mediumDate'}} </p>
            </div>
            <p style="color: rgb(184, 184, 184);"><em>Company/Privat Person</em></p>
            <a routerLink="/ideas" style="font-size: small;"><< BACK TO LIST</a>
        </div>
    </div>
</div>

<!-- NOT IN USE YET -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteIdeaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModalLabel">Delete Idea</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete Idea {{idea?.title}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <!-- <button (click)="onDeleteIdea(idea?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button> -->
             </div>
          </div>
       </div>
    </div>
</div>