body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
}

.main-container {
  display: flex;
}

.content {
  padding-top: 100px;
  margin: 0 auto;
}

.content-index {
  padding-top: 100px;
  position: relative;
  left: 21vw;

}