body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
}

.main-container {
  display: flex;
}

.content {
  padding-top: 100px;
  margin: 0 auto;
}

.content-index {
  padding-top: 100px;
  position: relative;
  left: 21vw;

}

footer ul li a{
  color:#fff
}
footer{
  background:#232324;
  z-index:1;
  position:relative;
  text-align:center;
}
footer li a{
  color:#313131;
  font-weight:500
}
footer ul li{
  display:inline-block;
  font-size:14px;
  padding:10px 20px;
}

footer ul {
  margin-bottom: 0;
}